
<!-- <table mat-table [dataSource]="notasFiscais$" | async class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="demo-numero">
    <th mat-header-cell *matHeaderCellDef> Número </th>
    <td mat-cell *matCellDef="let nota"> {{nota.Numero}} </td>
  </ng-container>


  <ng-container matColumnDef="demo-dataEmissao">
    <th mat-header-cell *matHeaderCellDef> Data de Emissão </th>
    <td mat-cell *matCellDef="let nota"> {{nota.DataEmissao}} </td>
  </ng-container>

  <ng-container matColumnDef="demo-valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let nota"> {{nota.Numero}} </td>
  </ng-container>

  <ng-container matColumnDef="demo-fornecedorNome">
    <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
    <td mat-cell *matCellDef="let nota"> {{nota.Fornecedor.Nome}} </td>
  </ng-container>

  <ng-container matColumnDef="demo-fornecedorCNPJ">
    <th mat-header-cell *matHeaderCellDef> Inscricao </th>
    <td mat-cell *matCellDef="let nota"> {{nota.Fornecedor.Inscricao}} </td>
  </ng-container>
  
  <ng-container matColumnDef="demo-clienteNome">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let nota"> {{nota.Cliente.Nome}} </td>
  </ng-container>

  <ng-container matColumnDef="demo-clienteCPF">
    <th mat-header-cell *matHeaderCellDef> Inscricao </th>
    <td mat-cell *matCellDef="let nota"> {{nota.Cliente.Inscricao}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


<div class="p-6">
  
  <h1 class="text-gray-900 dark:text-white text-2xl font-semibold mb-4">
    Lista de Notas Fiscais
  </h1>

  
  <table class="w-full bg-white dark:bg-gray-800 rounded-lg overflow-hidden shadow">
    <thead>
      <tr class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300">
        <th class="p-3 text-left">Número</th>
        <th class="p-3 text-left">Data de Emissão</th>
        <th class="p-3 text-left">Valor</th>
        <th class="p-3 text-left">Fornecedor</th>
        <th class="p-3 text-left">Cliente</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let nota of notasFiscais$ | async"
        class="border-b border-gray-200 dark:border-gray-600 text-gray-800 dark:text-gray-200"
      >
        <td class="p-3">{{ nota.Numero }}</td>
        <td class="p-3">{{ nota.DataEmissao }}</td>
        <td class="p-3">{{ nota.Valor | currency:'BRL' }}</td>
        <td class="p-3">{{ nota.Fornecedor.Nome || 'string' }} - {{ nota.Fornecedor.Inscricao || '' }}</td>
        <td class="p-3">{{ nota.Cliente.Nome || 'string' }} - {{ nota.Cliente.Inscricao || '' }}</td>
      </tr>
    </tbody>
  </table>